{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "mocha": true,
        "node": true
    },
    "extends": "airbnb",
    "globals": {
      "chai": true,
      "expect": true
    },
    "rules": {
      "import/no-extraneous-dependencies": ["error", {
        "devDependencies": [
          "**/postcss.config.js",
          "**/webpack.*.js"
        ]
      }]
    }
}
