@import "../../../css/variables.css";
@import "../../../css/media.css";

.events {
  color: #404040;

  a:link, a:active, a:visited, a:hover {
    color: #808080;
    text-decoration: underline;;
  }

  &__carrier-info--first {
    color: #0051b2;

    & a:link, a:active, a:visited, a:hover {
      color: var(--flow-blue);
      text-decoration: underline;;
    }
  }

  &__event-group {
    border-top: 1px solid #e6e6e6;
    display: flex;
    flex-wrap: wrap;
  }

  &__day--first, &__event--first {
    font-family: 'FreightSansProMedium-Regular', Helvetica, sans-serif;
  }

  &__day {
    height: 16px;
    flex: auto;
    padding: .625rem;
    width: calc(100% - (2 * .625rem));
  }

  &__events {
    padding: .625rem;
    width: calc(100% - (2 * .625rem));
  }

  &__event {
    display: flex;
    flex: auto;
    margin-bottom: .75rem;
  }

  &__time {
    margin-left: 1.25rem;
    width: 21.875%;
  }

  &__details {
    width: 78.125%;
  }

  &__status, &__message {
    margin-bottom: 10px;
  }

  &__disclaimer {
    color: #808080;
    font-family: 'FreightSansProBook-Italic', Helvetica, sans-serif;
    height: 36px;
    padding: .625rem 1.5rem;
    text-align: center;
  }

  &__no-results {
    color: #808080;
    padding: .625rem 1.25rem;
    text-align: center;
  }

  &__carrier-info {
    padding: .625rem;
  }

  &__carrier {
    display: inline-block;
    margin-right: .5625rem;
  }

  &__tracking-number {
    display: inline-block;
    font-variant-numeric: lining-nums;
  }

  &__tracking-link {
    display: inline-block;
    float: right;
  }

  &__tracking-link-icon {
    height: 16px;
    width: 16px;
  }

  &__tracking-link-a-text {
    display: none;
  }
}

@media(--full-viewport) {
  .events {
    margin: 0 auto 60px auto;
    max-width: 940px;
    padding: .625rem;

    &__event-group {
      align-items: center;
      flex-wrap: nowrap;
      margin: 0 3.75rem;
    }

    &__events {
      width: 85%;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 1.25rem;
    }

    &__event {
      border-top: 1px solid #e6e6e6;
      min-height: 38px;
      padding-top: 1.125rem;

      &:first-child {
        border: 0;
      }
    }

    &__day {
      align-self: baseline;
      padding: 0;
      margin-left: 1.25rem;
      margin-top: 1.125rem;
      width: 15%;
    }

    &__time {
      margin: 0;
      width: 15%;
    }

    &__details {
      display: flex;
      flex: auto;
    }

    &__status {
      width: 30%;
    }

    &__message {
      padding-right: .625rem;
      width: calc(50% - .625rem);
    }

    &__location {
      width: 25%;
    }

    &__status, &__message {
      margin: 0;
    }

    &__disclaimer {
      padding: 0;
      text-align: left;
      line-height: 2.25rem;
    }

    &__no-results {
      padding: 7.375rem 1.25rem;
    }

    &__carrier-info {
      font-size: 1.125rem;
      padding: 1rem 3.75rem;
    }

    &__carrier {
      padding-left: 1.25rem;
    }

    &__tracking-link {
      font-size: 1.125rem;
      padding-right: 1.25rem;
    }

    &__tracking-link-a-icon {
      display: none;
    }

    &__tracking-link-a-text {
      display: block;
      font-family: FreightSansProBook-Regular, Hevetica, sans-serif;
    }
  }
}
