@import "../../../css/media.css";

.summary {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  height: 284px;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  &__status {
    margin-bottom: 1.75rem;
    text-align: center;
    width: 100%;
  }

  &__status-icon {
    height: 140px;
    width: 140px;
  }

  &__summary-text {
    color: #404040;
    font-family: 'FreightSansProMedium-Regular';
  	font-weight: 500;
    text-align: center;
  }

  &__date {
    display: block;
    font-size: 1.5rem;
  }

  &__text {
    display: block;
    font-size: .875rem;
  }

  &__generic-text {
    color: #808080;
    font-size: 1.5rem;
  }
}

@media(--full-viewport) {
  .summary {
    display: flex;
    height: 252px;
    justify-content: center;

    &__container {
      max-width: 588px;
      flex-wrap: nowrap;
    }

    &__status {
      flex: 0 1;
      margin: 0;
      width: auto;
    }

    &__date {
      font-size: 1.75rem;
    }

    &__text {
      font-size: 1rem;
    }

    &__summary-text {
      margin-left: 3rem;
      padding-top: 44px;
      text-align: left;
    }

    &__generic-text {
      color: #808080;
      font-size: 1.75rem;
    }
  }
}
