@import "../../../css/media.css";

.navigation {
  display: flex;
  background: #262832;
  padding: 0 1.5em;
  align-items: center;
  height: 50px;

  &__logo-svg {
    height: 24px;
    margin: .75rem 0 .75rem 1.25rem;
    width: 105px;
  }

  &__title {
    color: #0051b2;
    display: inline-block;
    font-family: 'FreightSansProBook-Regular';
    font-size: 1.125rem;
    height: 32px;
    line-height: 2rem;
    margin-left: 1rem;
  }

  &__search {
    display: flex;
    flex: auto;
    height: 48px;
    padding: 0 .625rem 0 .625rem;
  }
}

@media(--full-viewport) {
  .navigation {
    margin: 0 auto;

    &__logo-svg {
      height: 32px;
      margin-left: 1.5rem;
      width: 138px;
    }

    &__title {
      font-size: 1.5rem;
      margin-left: 1.5rem;
    }

    &__search {
      align-items: center;
      height: 96px;
    }
  }
}
