@import "../../../css/media.css";

.search-form {
  display: flex;
  flex: auto;

  &__text-input {
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    color: #0051b2;
    display: inline-block;
    flex: auto;
    font-family: 'FreightSansProBook-Regular', Helvetica, sans-serif;
  	font-size: 1rem;
    font-variant-numeric: lining-nums;
    height: 30px;
    padding: 0 0 0 .3125rem;
    vertical-align: middle;
    width: 100%;
  }

  &__button {
    background: transparent;
    border: solid 1px #0051b2;
    border-radius: 4px;
    height: 32px;
    margin-left: .75rem;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 60px;

    &:active {
      background-color: #0051b2;

      .search-form__button-icon {
        fill: #fff;
      }
    }
  }

  &__button-icon {
    fill: #0051b2;
    height: 18px;
    left: calc(50% - (18px / 2));
    position: absolute;
    top: calc(50% - (18px / 2));
    width: 18px;
  }
}

@media(--full-viewport) {
  .search-form {
    &__button {
      width: 73px;
    }
  }
}
