@import "../../../css/media.css";

.search-form {
  display: flex;
  flex: auto;
  align-items: flex-end;
  position: relative;

  &__text-input {
    border: solid 1px #d9d9d9;
    border-radius: 4px;
    color: black;
    display: inline-block;
    flex: auto;
    font-family: 'FreightSansProBook-Regular', Helvetica, sans-serif;
  	font-size: 1rem;
    font-variant-numeric: lining-nums;
    height: 30px;
    padding: 0 0 0 .3125rem;
    vertical-align: middle;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
  }

  &__text-input:focus-visible { /* Chrome, Firefox, Opera, Safari 10.1+ */
    border: 1px solid black;
    outline: black;
  }
  &__text-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B5BEC9;
    opacity: 1; /* Firefox */
  }


  &__button {
    background: transparent;
    border-radius: 4px;
    height: 32px;
    margin-left: .75rem;
    border: none;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 60px;
    position: absolute;
    right: -15px;
    cursor: pointer;
    top: 5px;
    bottom: 0;

    &:active {
      .search-form__button-icon {
        fill: black;
      }
    }
  }

  &__button-icon {
    fill: #B5BEC9;
    height: 18px;
    left: calc(50% - (18px / 2));
    position: absolute;
    top: calc(50% - (18px / 2));
    width: 18px;
  }
}

@media(--full-viewport) {
  .search-form {
    &__button {
      width: 73px;
    }
  }
}
